# Apple Stuff
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries specific to advent of code
advent20??/cmd/day??/day??
advent20??/src/day??/day??
